{% include 'header.html' %}
{% include 'nav.html' %}

<main class="article-content">
    <form action="/login" method="post" id="login-form">
        <div class="container">
            <h1>Login</h1>
            <label for="login"><b>Login</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="login" required>


            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="psw" required>

            <button type="submit" class="register-button">Login</button>
            <br>
            {%if message %}
            <div>{{ message }}</div>
            {%endif%}
        </div>

    </form>
</main>
{% include 'footer.html' %}