.wrapper {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    max-width: fit-content;
    justify-content: center;
    background-color: red;
    border: 2px solid black;
    border-right-width: 1px;
    align-self: center;
    margin-top: 20px;
}

.nav-element {
    padding: 10px;
    border-right: black solid 1px;
    border-left: black solid 1px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}

.nav-element:hover {
    background-color: white;
    color: red;
}

.nav-element:active {
    background-color: white;
    color: red;
}

.article-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article {
    border: black solid 1px;
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 30px;
    max-width: fit-content;
    min-width: 300px;
}

.article-img {
    max-height: 300px;
}

.article-img-container {
    margin: 5px;
}

.article-description {
    max-width: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.article-published {
    margin-top: 20px;
    font-weight: 200;
    font-size: 12px;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
footer{
    margin: 20px;
    text-align: center;
}

.category{
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#input-search{
    margin:1px;
}